[submodule "deps/stats"]
	path = deps/stats
	url = https://github.com/kthohr/stats.git
[submodule "deps/gcem"]
	path = deps/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
